Package: com.letiendat.unlockchatdi
Name: UnlockChatdi
Version: 1.0
Architecture: iphoneos-arm
Description: Unlock Chatdi
Maintainer: Le Tien Dat
Author: Le Tien Dat
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
